:root {
    --color-main: #1C232C;
    --color-secondary: #0F141B;
    --color-header: #252b35;
    --color-text: #d1d4da;
    --color-alert: #ffcc40;
    --color-right: #1f9e27;
    --color-misplaced: #e66f00;
    --color-wrong: #e92f0e;
}

body {
    background-color: var(--color-main);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* CABEÇALHO -----> */

header {
    background-color: var(--color-header);
    display: flex;
    justify-content: center;
    padding: 32px;
    color: var(--color-text);
    font-size: 16px;
    text-align: center;
}

.instructions {
    background-color: var(--color-main);
    padding: 20px;
    transition: 0.3s background-color, 0.3s padding;
}

.instructions:hover {
    background-color: var(--color-secondary);
}

.instructions[open] {
    background-color: var(--color-secondary);
    padding: 32px;
}

.instructions summary {
    cursor: pointer;
}

.instructions_list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 32px;
    line-height: 1.4;
}

.instructions_list span {
    color: var(--color-alert);
}

.instructions_colors {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    margin-top: 32px;
}

.instructions_colors li {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.instructions_colors div {
    width: 16px;
    height: 16px;
    border-radius: 6px;
}

.instructions_colors li:nth-child(1) div {
    border: 2px solid var(--color-right);
}

.instructions_colors li:nth-child(2) div {
    border: 2px solid var(--color-misplaced);
}

.instructions_colors li:nth-child(3) div {
    border: 2px solid var(--color-wrong);
}


/* MEIOTA -----> */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 100%;
    padding: 0px 32px;
}

.tip {
    display: flex;
    align-items: center;
    column-gap: 4px;
    fill: var(--color-alert);
    color: var(--color-alert);
    font-size: 16px;
}

.tip svg {
    transform: translateY(1px);
}

.input-letter-container {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    width: 100%;
}

.input-letter {
    background-color: var(--color-secondary);
    width: 96px;
    height: 96px;
    color: var(--color-text);
    text-align: center;
    font-size: 36px;
    transition: 0.3s width, 0.3s height;
}

.input-letter::placeholder {
    color: #ffffff00;
}

.result {
    text-align: center;
    line-height: 1.4;
    font-size: 16px;
}

.result span {
    font-size: 20px;
    font-weight: 700;
}


/* RODAPÉ -----> */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    padding: 0px 32px 32px 32px;
}

.attempts {
    color: var(--color-text);
    font-size: 16px;
}

.attempts span {
    font-weight: 900;
}

.button-retry {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.button-retry svg {
    fill: var(--color-text);
}


/* ESTADOS -----> */

.--hidden {
    display: none;
}

.--tab:focus-visible {
    outline: 1px solid var(--color-text);
    outline-offset: 6px;
}

.--letter-right {
    border: 2px solid var(--color-right);
    width: 72px;
    height: 72px;
    color: var(--color-right);
    font-size: 28px;
}

.--letter-misplaced {
    border: 2px solid var(--color-misplaced);
    color: var(--color-misplaced);
}

.--letter-wrong {
    border: 2px solid var(--color-wrong);
    color: var(--color-wrong);
}

.--color-right {
    color: var(--color-right);
}

.--color-warning {
    color: var(--color-alert);
}

.--color-wrong {
    color: var(--color-wrong);
}


/* MEDIA QUERIES -----> */

@media screen and (max-width: 1024px) {
    .input-letter {
        width: 80px;
        height: 80px;
    }

    .--letter-right {
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 500px) {
    .input-letter {
        width: 64px;
        height: 64px;
    }

    .--letter-right {
        width: 56px;
        height: 56px;
    }
}